s.rbx/
.bundle/
*.gem
.idea/
.rvmrc
*.swp
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
coverage
tags
/nbproject/
/.git-rewrite/
.yardoc/
doc/
bin/
gemfiles/*.lock
examples/tmp/**
examples/log
*.log

# But not these files...
!.gitignore
!/bin/celluloid_pubsub
